.Homepage-container {
  height: 100vh;
}

.Homepage-button {
  margin: 0.5em;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5em;
}

h4 {
  margin-bottom: 1em;
}

.Homepage-welcome {
  background-color: rgba(135, 219, 255, 0.7);
  position: relative;
  top: 20%;
  padding: 2em;
  width: 50%;
  margin: auto;
}
