.LoginForm {
  height: 100vh;
}

.LoginForm-Form {
  background-color: rgba(135, 219, 255, 0.7);
  position: relative;
  top: 20%;
  padding: 2em;
  width: 50%;
  text-align: center;
  margin: auto;
}
.LoginForm-Button {
  margin-top: 1em;
}
