.SearchForm {
  width: 50%;
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
  margin-right: 6em;
  margin-left: 6em;
}

.FormInput {
  margin-bottom: 0.5em;
  text-align: center;
}

.SeachForm-Button {
  margin-top: 0.5em;
}
